.forecast-details {
  display: flex; /* establish flex container */
  flex-direction: column; /* make main axis vertical */
  align-items: center; /* center items horizontally, in this case */
  padding-top: 25px;
}

.forecast-details__date {
  font-weight: bold;
  font-size: 25px;
  padding-bottom: 10px;
}
